
.content-wrapper-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
}

.container-manager {
  background-color: #98d5cd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container-manager {
  max-width: 600px;
  margin: 0 auto;
}

.profile-form-manager {
  display: grid;
  grid-gap: 20px;
}

.form-control-manager {
  margin-top: 50px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 5px;
}

.secondary-title-manager {
  color: green;
}

.update-btn-manager {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}