

.Reset-Passowrd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,#8ddbd4,#c2cdd2, #8ddbd4, #c2cdd2); 
}

.Reset-password-Content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(78, 142, 38, 0.1);
}

.Reset-password-Content h1 {
    text-align: center;
    color: #46658f; 
}

.Reset-Passowrd-Form {
    margin-top: 20px;
    /* margin-left: 80px; */
}

.Email-Card,
.New-Password-Card,
.Confirm-Password-Card {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-right: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

button.Reset-Password {
    background-color: #3498db; 
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.Reset-Password:hover {
    background-color: #22c59f;
}