.delete-employee-form {
    margin: 1em 0;
    background-color: #f0f8ff; 
    border-radius: 5px;
    padding: 1em;
}

.delete-employee-form input,
.delete-employee-form textarea {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.delete-employee-form button {
    margin-right: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
}

.delete-employee-form button:not([type]) {
    background-color: #ff4500; 
}

.delete-employee-form .update-button {
    background-color: #008000; 
}

.delete-employee-form .delete-button {
    background-color: #ff0000; 
}

.delete-employee-form .add-button {
    background-color: #1e90ff; 
    color: white;
}

.delete-employee-form .submit-button {
    background-color: #008000; 
    color: white;
}
