.content-wrapper {
    margin-left: 280px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
  }
  
  h3 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }